// home page
.reference-content-grid-c21 {
  background-image: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/hero-banners/hero-banner-enhanced-h4-v0/desktop/homepage-naturals-category-bkgd-robitussin-desktop.jpg?auto=format');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  @media (min-width: $breakpoint-md-min) {
    padding-top: 300px;
  }
}

.product-logo-width {
  width: 240px;
}

.reference-cards-block {
  .richText {
    margin-top: 20px;
    .richText-content {
      padding-right: 0px;
      @media (min-width: $breakpoint-md-min) {
        padding-right: 54px;
      }
      h4 {
        font-size: $font-size-h4;
        line-height: 1.5;
        margin-bottom: $space-10;
        @media (min-width: $breakpoint-md-min) {
          font-size: $font-size-h4;
          line-height: 1.125;
        }
      }
      p {
        margin: 0;
        font-size: $font-size-body-small;
        line-height: 1.5;
      }
    }
  }
}

.reference-copy-block-c2-v0 {
  .richText {
    margin-bottom: $space-10;
    p,
    a {
      margin: 0;
      font-size: $font-size-body-small;
    }
    &.first {
      max-width: 944px;
    }
    & .flex {
      a {
        margin-left: 2.5rem;
        line-height: 1;
      }
    }
    .pbox {
      padding: $spacer $space-20;
      border: $default-border-width solid $gray-300;
    }
  }
}

p {
  &.quote-wrapper {
    width: 70%;
    font-size: $font-size-h3-mobile;
    color: var(--color-1);
    margin: 0 auto;
    line-height: 1.55;
    span img {
      width: 100%;
      height: auto;
    }
    span {
      &.image {
        display: inline-block;
      }
      &.text {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: 0 2% 4%;
        font-family: var(--font-family-medium);

        @media (min-width: $breakpoint-md-min) {
          width: 78%;
          margin: 0 2% 0 4%;
        }
      }
    }
  }
  &.article-para-reference {
    font-size: $font-size-h5;
    margin: 0;
    span {
      color: var(--color-2);
    }
  }
  &.article-para-reference-indent {
    padding: 0 0 0 1em;
    font-size: $font-size-h5;
  }
}

.article-hero-image {
  img {
    max-width: 500px !important;
    display: block;
    margin: 0 auto;
    @media (min-width: $breakpoint-md-min) {
      margin: 0;
      display: inline-block;
    }
  }
}

.sub-banner-parent {
  @media (min-width: $breakpoint-md-min) {
    height: 260px;
    background-color: $black;
  }
}

.bg-sub-banner {
  height: 486px;
  background: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/pages/our-stories/story-hero-bg-mobile.jpg?auto=format')
    no-repeat center center var(--color-1);
  font-size: $font-size-h5;
  line-height: 1.5;
  .richText {
    max-width: 375px;
    margin: 0 auto;
    text-align: center;
    @media (min-width: $breakpoint-md-min) {
      text-align: left;
      max-width: 100%;
    }
  }
  @media (min-width: $breakpoint-md-min) {
    height: 380px;
    background: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/pages/our-stories/story-hero-bg.jpg?auto=format')
      no-repeat 0 0;

    background-repeat: no-repeat;
    position: absolute;
    top: -25%;
    left: 0;
    right: 0;
  }
  h2 {
    font-size: 48px;
    line-height: 1;
    color: $white;
    width: 100%;
    text-align: center;
    padding: 9% 0 0 0;
    span {
      color: $white;
    }
    @media (min-width: $breakpoint-md-min) {
      width: 50%;
      margin: 3% 0 0 50%;
      text-align: left;
      padding: 0;
    }
    @media (min-width: $breakpoint-lg-min) {
      font-size: 70px;
    }
    span {
      display: block;
    }
  }

  p {
    color: $white;
    width: 100%;
    text-align: center;
    padding: 0 15%;
    @media (min-width: $breakpoint-md-min) {
      width: 48%;
      margin: 1% 0 0 50%;
      text-align: left;
      padding: 0;
    }
  }
}

.image-width {
  img {
    width: auto;
  }
}

.image-width-center {
  img {
    width: auto;
    text-align: center;
  }
}

.image-align-center {
  text-align: center;
}

.article-table {
  border: 1px solid $black;
  border-collapse: collapse;
  padding: 0.7rem;
}

.article-table th {
  border: 1px solid $black;
  padding: 0.7rem;
  background: var(--color-gray-200);
  font-size: $font-size-body;
}

.article-table td {
  border: 1px solid $black;
  padding: 0.7rem;
  font-size: $font-size-body;
}

sup {
  top: -0.5em !important;
}
.dropdowncatlink {
  @media (min-width: $breakpoint-md-min) {
    position: absolute;
    bottom: 0;
  }
}
