// home page
.reference-content-grid-c21 {
  background-image: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/hero-banners/hero-banner-enhanced-h4-v0/desktop/homepage-naturals-category-bkgd-robitussin-desktop.jpg?auto=format');
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.reference-cards-block {
  .richText {
    margin-top: 20px;

    .richText-content {
      padding-right: 0px;

      @media (min-width: $breakpoint-md-min) {
        padding-right: 54px;
      }

      h4 {
        font-size: $font-size-h4;
        line-height: $line-height-24;
        margin-bottom: $space-10;
        @media (min-width: $breakpoint-md-min) {
          font-size: $font-size-h4;
          line-height: 20px;
        }
      }
      p {
        margin: 0;
        font-size: $font-size-body-small;
        line-height: $line-height-24;
      }
    }
  }
}
.reference-cards-c2 {
  .max-content-width {
    max-width: 753px !important;

    .box.first {
      .richText {
        h5 {
          max-height: 200px;
        }
      }
    }
    .box.last {
      .richText {
        h5 {
          max-height: 280px;
        }
      }
    }

    .richText {
      margin-top: $spacer-sm;
      p {
        margin: 0;
        font-size: $font-size-h5;
        line-height: $line-height-18;
        margin-bottom: $space-10;
      }
      h5 {
        font-weight: normal;
        font-size: $font-size-h5;
        line-height: $line-height-28;

        @media (min-width: $breakpoint-md-min) {
          font-size: $font-size-h5;
          line-height: $line-height-24;
        }
      }
    }
  }
}

.reference-copy-block-c2-v0 {
  .richText {
    margin-bottom: $space-10;
    p,
    a {
      margin: 0;
      font-size: $font-size-body-small;
    }
    &.first {
      max-width: 944px;
    }
    & .flex {
      a {
        margin-left: 2.5rem;
        line-height: $line-height-1;
      }
    }
    .pbox {
      padding: $spacer $space-20;
      border: $default-border-width solid $gray-300;
    }
  }
}

p {
  a,
  a:hover,
  a:visited {
    font-size: $font-size-h5;
    text-decoration: underline;
  }

  &.article-para {
    font-size: $font-size-h5;
    line-height: $line-height-28;
    margin: 0.5rem 0 1.5rem 0;
  }
  &.story-subtext-style {
    font-size: $font-size-h3-mobile;
    line-height: $line-height-32;
    margin: 0.5rem 0;
  }
  &.quote-wrapper {
    width: 70%;
    font-size: $font-size-h3-mobile;
    color: $color-1;
    margin: 0 auto;
    line-height: $line-height-38;

    span img {
      width: 100%;
      height: auto;
    }
  }

  span {
    &.image {
      display: inline-block;
    }
    &.text {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin: 0 2% 0 4%;
      line-height: $line-height-25;

      @media (min-width: $breakpoint-sm-min) {
        width: 100%;
        @media (max-width: $breakpoint-sm-max) {
          width: 78%;
        }
      }
    }
  }

  .article-hero-image {
    max-width: 500px;
  }

  .quote {
    .quote_left {
      //background-image: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/Articles/icons/icon-article-quote-green-closed-robitussin.svg?auto=format');
      background-image: url('C:\Users\Ramesh\Desktop\work\Indigo\Robitussin\02_Assets\Icons\icon-article-quote-green-closed-robitussin.svg?auto=format');
      border: 1px solid red;
      width: 550px;
      height: $line-height-10;
      background-position: center bottom;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }
  }

  .our-story-relief {
    font-size: $font-size-h3;
    line-height: $line-height-32;
  }

  .our-story-relief-image-desc {
    font-size: $font-size-body-small;
    line-height: $line-height-22;
  }
  .our-story-relief-box-title {
    font-size: $font-size-h5;
    line-height: $line-height-24;
    margin: 0;
  }

  .sub-banner-parent {
    @media (min-width: $breakpoint-md-min) {
      height: 260px;
      background-color: #000;
      display: block;
    }
  }

  .bg-sub-banner {
    height: 486px;
    background-image: url('file:///C:/Users/Ramesh/Desktop/work/story-hero-bg-mobile.jpg');

    @media (min-width: $breakpoint-md-min) {
      height: 380px;
      //background: url("/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/pages/our-stories/story-hero-bg.jpg") no-repeat 0 0;
      background-image: url('file:///C:/Users/Ramesh/Desktop/work/story-hero-bg.jpg');
      background-repeat: no-repeat;
      position: absolute;
      top: -25%;
      left: 20%;
    }
  }

  .subbanner-heading {
    font-size: $font-size-48;
    line-height: $line-height-1;
    color: $white;
    width: 100%;
    text-align: center;
    padding: 9% 0 0 0;

    @media (min-width: $breakpoint-md-min) {
      font-size: $font-size-70;
      line-height: $line-height-1;
      width: 50%;
      margin: 3% 0 0 50%;
      text-align: left;
      padding: 0;
    }

    span {
      display: block;
    }
  }

  .subbanner-text {
    font-size: $font-size-h4;
    line-height: $line-height-22;
    color: $white;
    width: 100%;
    text-align: center;
    padding: 0 15%;

    @media (min-width: $breakpoint-xm-min) {
      font-size: $font-size-h3-mobile;
      line-height: $line-height-22;
      width: 48%;
      margin: 1% 0 0 50%;
      text-align: left;
      padding: 0;
    }
  }
}
