$accordion-plus-icon: get-icon('plus-icon', $white);
$accordion-minus-icon: get-icon('minus-icon', $white);
.filterlogo {
  display: none;
  @media (min-width: $breakpoint-md-min) {
    display: block;
  }
  img {
    width: 178px !important;
  }
}
.filteraccord {
  position: relative;
  padding-right: 30%;
  line-height: 28px;
  @media (min-width: $breakpoint-sm-min) {
    padding-right: 0;
    padding-top: 12px;
  }
  @media (min-width: $breakpoint-md-min) {
    padding-top: 0;
  }
  &::after {
    background-image: $accordion-plus-icon;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 0;
    content: '';
    @media (min-width: $breakpoint-md-min) {
      display: none;
    }
  }
  &.active {
    &::after {
      background-image: $accordion-minus-icon;
    }
  }
}
.filtercontent {
  display: none;
  @media (min-width: $breakpoint-md-min) {
    display: block !important;
  }
}
.findmyrobitussinbtn,
.filterbutton {
  opacity: 0.5;
  cursor: auto;
}
.enable-cta {
  .findmyrobitussinbtn,
  .filterbutton {
    opacity: 1;
    cursor: pointer;
  }
}
.reference-product-filter-adults,
.reference-product-filter-children {
  @media (min-width: $breakpoint-md-min) {
    .black-bg-new {
      height: 320px;
      .bg-color-1 {
        margin-top: -60px;
      }
    }
  }
}
.article-box {
  img {
    margin-top: 10px;
  }
}
.pdpavailabeimagebox {
  max-width: 285px !important;
  margin: 0 auto !important;
}
.reference-natural-ingredients {
  img {
    max-width: 190px !important;
  }
}
.reference-about-natural {
  .box.flex {
    img {
      max-width: 100px !important;
    }
    p {
      font-family: $font-family-bold;
    }
  }
}
@media (min-width: $breakpoint-md-min) {
  .product-rel-box {
    padding-bottom: 260px;
    position: relative;
  }
  .product-abs-box {
    position: absolute;
    bottom: 0;
    height: auto !important;
    &.nops {
      bottom: 45px;
    }
  }
}
.reference-100-Percent-Drug-Free-Family-banner {
  background-image: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/pages/naturals/naturals-hero-bkgd-robitussin-mobile.jpg');
  @media (min-width: $breakpoint-md-min) {
    background-image: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/pages/naturals/naturals-hero-bkgd-robitussin-desktop.jpg');
  }
  background-size: cover;
  background-repeat: repeat;
  img {
    max-width: 415px !important;
    display: block;
    margin: 0 auto;
  }
}
