$accordion-plus-icon: get-icon('plus-icon', $white);
$accordion-minus-icon: get-icon('minus-icon', $white);
.filterlogo {
  display: none;
  @media (min-width: $breakpoint-md-min) {
    display: block;
  }
  img {
    width: 178px !important;
  }
}
.filteraccord {
  position: relative;
  padding-right: 30%;
  line-height: 28px;
  @media (min-width: $breakpoint-sm-min) {
    padding-right: 0;
    padding-top: 12px;
  }
  @media (min-width: $breakpoint-md-min) {
    padding-top: 0;
  }
  &::after {
    background-image: $accordion-plus-icon;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 0;
    content: '';
    @media (min-width: $breakpoint-md-min) {
      display: none;
    }
  }
  &.active {
    &::after {
      background-image: $accordion-minus-icon;
    }
  }
}
.filtercontent {
  display: none;
  @media (min-width: $breakpoint-md-min) {
    display: block !important;
  }
}
.findmyrobitussinbtn,
.filterbutton {
  opacity: 0.5;
  cursor: auto;
}
.enable-cta {
  .findmyrobitussinbtn,
  .filterbutton {
    opacity: 1;
    cursor: pointer;
  }
}
.reference-product-filter-adults,
.reference-product-filter-children {
  @media (min-width: $breakpoint-md-min) {
    .black-bg-new {
      height: 320px;
      .bg-color-1 {
        margin-top: -60px;
      }
    }
  }
}
