.your-stories-carousel {
    background-color: var(--color-1);
    .lSSlideOuter .lSPager.lSpg {
        bottom: 2rem;
        >li {
            a {
                width: 16px;
                height: 16px;
                border: solid #ffffff 2px;
            }
            &:hover,
            &.active {
                a {
                    background-color: #ffffff;
                }
            }
        }
    }
    .lSAction>a {
        width: 60px;
        height: 60px;
        margin-top: -30px;
        opacity: 1;
        &.lSPrev {
            left: 0;
            background: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/left-arrow.png') no-repeat;
            background-size: cover;
            background-position: 0 0;
        }
        &.lSNext {
            right: 0;
            background: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/right-arrow.png') no-repeat;
            background-size: cover;
            background-position: 0 0;
        }
    }
    .quotes-img {
        width: 28px;
        margin: 0 auto;
    }
    .carousel-copy {
        font-size: 24px;
    }
    .carousel-sub-copy {
        font-size: 18px;
    }
    .flex[class*='align-'] * {
        align-items: center !important;
    }
}

.hero-banner-h5-v1 {
    .lSSlideOuter .lSPager.lSpg {
        bottom: 2rem;
        >li {
            a {
                width: 16px;
                height: 16px;
            }
        }
    }
    .banner-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 200px;
        h2 {
            font-size: 32px;
            line-height: 36px;
            color: #000000;
            margin-bottom: 30px;
            span {
                display: block;
                &.pink-color {
                    color: #a3216f;
                }
                &.yellow-color {
                    color: #ef8b21;
                }
            }
            @media (min-width: $breakpoint-md-min) {
                font-size: 48px;
                line-height: 44px;
            }
        }
        @media (min-width: $breakpoint-md-min) {
            width: 251px;
            bottom: 50px;
            left: 50px;
        }
        &.topposition {
            width: 200px;
            top: 30px;
            bottom: inherit;
            left: 5px;
            @media (min-width: $breakpoint-md-min) {
                width: 270px;
                top: 30px;
                bottom: inherit;
                left: 30px;
            }
        }
    }
}

.reference-content-grid-c21 {
    overflow: hidden;
}

.mousehover-section {
    .main-object {
        transform: rotate(12deg);
        z-index: 2;
        width: 250px;
        margin: 0 auto -55px;
        @media (min-width: $breakpoint-md-min) {
            width: 340px;
            margin: 0 0 -65px;
        }
    }
    .tooltip-data {
        position: absolute;
        top: -95px;
        left: 70px;
        padding-left: 20px !important;
        display: none;
        &:before {
            content: '';
            background: #000000;
            width: 1px;
            height: 140px;
            position: absolute;
            top: 8px;
            left: 0px;
        }
        &::after {
            content: '';
            background: #000000;
            width: 3px;
            height: 3px;
            position: absolute;
            top: 7px;
            left: -1px;
            border-radius: 50%;
        }
        h4 {
            font-size: 16px;
            padding-bottom: 5px;
            font-family: $font-family-bold;
        }
        p {
            font-size: 14px;
            color: #000000;
            margin: 0;
            font-family: $font-family-medium;
        }
    }
    .object1 {
        position: absolute;
        width: 140px;
        height: 130px !important;
        top: 40px;
        left: 25px;
        z-index: 1;
        cursor: pointer;
        h4 {
            color: var(--color-1);
        }
        @media (min-width: $breakpoint-md-min) {
            width: 181px;
            height: 191px !important;
            top: 40px;
            left: -70px;
        }
    }
    .object2 {
        position: absolute;
        position: absolute;
        width: 150px;
        height: 140px !important;
        bottom: 35px;
        right: 0;
        z-index: 1;
        cursor: pointer;
        h4 {
            color: #ef8b21;
        }
        .tooltip-data {
            top: inherit;
            bottom: -35px;
            left: 175px;
            &:before {
                top: inherit;
                left: 0px;
                bottom: 6px;
            }
            &:after {
                top: inherit;
                bottom: 6px;
            }
        }
        @media (min-width: $breakpoint-md-min) {
            width: 221px;
            height: 202px !important;
            bottom: 70px;
            right: 100px;
        }
    }
    .absolute-img-right {
        cursor: pointer;
        .tooltip-data {
            position: absolute;
            top: 40px;
            left: -130px;
            padding-left: 0 !important;
            padding-bottom: 15px !important;
            h4 {
                color: #a3216f;
            }
            &:before {
                width: 90%;
                height: 1px;
                top: initial;
                bottom: 0;
            }
            &::after {
                top: initial;
                bottom: -1px;
            }
        }
    }
}