.reference-hero-banner-img-btn {
  .image {
    min-height: auto;
    @media (min-width: $breakpoint-md-min) {
      min-height: 300px;
    }
  }
  .hero-banner-content {
    h1 {
      font-size: 32px;
      line-height: 36px;
    }

    @media (min-width: $breakpoint-md-min) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .banner-content {
        h1 {
          max-width: 394px;
          font-size: 60px;
          line-height: 60px;
        }
        p:nth-child(2) {
          max-width: 240px;
        }
      }
    }
  }
  .prod-find-modal {
    position: absolute;

    width: 100%;
    top: 0;
    @media (min-width: $breakpoint-md-min) {
      top: 100px;
    }
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
    z-index: 101;
  }
  .prodfindlightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $black;
    opacity: 0.8;
    display: none;
    z-index: 100;
    top: 0;
  }
  .prod-find-close {
    display: block;
    @media (min-width: $breakpoint-md-min) {
      position: absolute;
      top: 0;
      right: 20px;
    }
    p {
      display: inline-block;
      font-family: $font-family-medium;
      font-size: 28px;
      cursor: pointer;
    }
  }
  .backsubmenupf {
    display: none;
  }
}
.prod-find-close {
  display: none;
}
