.reference-hero-banner-img-btn {
  .max-content-width {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .banner-content {
      h1 {
        max-width: 394px;
      }
      .hero-paragraph {
        max-width: 240px;
        padding: 12px 0 24px;
        font-family: $font-family-medium;
      }
    }
  }
}
