.reference-hero-banner-img-btn {
  .image {
    min-height: auto;
    @media (min-width: $breakpoint-md-min) {
      min-height: 300px;
    }
  }
  .max-content-width {
    h1 {
      font-size: 32px;
      line-height: 36px;
    }

    @media (min-width: $breakpoint-md-min) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .banner-content {
        h1 {
          max-width: 394px;
          font-size: 60px;
          line-height: 60px;
        }
        p:nth-child(2) {
          max-width: 240px;
        }
      }
    }
  }
}
