/*
** ICONS
*/

$default-icon-size: 30px !default;
$middle-icon-size: 40px !default;
$large-icon-size: 50px !default;
$default-icon-color: $color-1 !default;
$default-svg-icon-color: $color-1 !default;
$default-svg-icon-color-alternative: $color-3 !default;
