.btn {
  text-decoration: none;
  font-family: $font-family-bold;
  font-size: $font-size-button;
  &:hover,
  &:focus {
    color: $color-2;
    text-decoration: none;
    font-size: $font-size-button;
  }
}

.btn-primary {
  border: $button-border-size solid $color-1;
  color: $color-1;
  border-radius: 99px;
  padding: 13px 25px !important;
  &:hover,
  &:focus {
    color: $white !important;
    background-color: $color-1;
  }
}

.btn-primary-dark {
  border: $button-border-size solid $white;
  color: $white;
  border-radius: 99px;
  padding: 13px 25px !important;
  &:hover,
  &:focus {
    color: $color-4;
    background-color: transparent;
    border-color: $color-4;
  }
}

.btn-secondary {
  color: $color-1;
  text-transform: uppercase;
  position: relative;
  padding-left: 0 !important;
  padding-right: 13px !important;
  &:hover,
  &:focus {
    color: $color-2 !important;
    &::after {
      border-color: $color-2;
    }
  }
}
.btn-secondary,
.btn-secondary-dark {
  &::after {
    position: absolute;
    content: '';
    right: 0;
    border: solid $color-1;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-left: 2px;
    padding: 3.5px;

    transform: rotate(-45deg);
    top: -1px;
    position: relative;
  }
}

.btn-secondary-dark {
  color: $white;
  position: relative;
  &:hover,
  &:focus {
    color: $color-4 !important;
  }
  &::after {
    border-color: $white;
  }
  &.filterbutton {
    text-transform: uppercase;
    margin-left: 30px;
    &:hover,
    &:focus {
      color: $white !important;
    }
  }
}

a.cta-link {
  display: block;
  border: none;
  color: $color-1;
  text-decoration: underline;
  &:hover,
  &:focus {
    color: $color-1;
    text-decoration: none;
  }
}

[data-bv-show='rating_summary'] {
  flex-basis: auto !important;
}

// Price spide button override
body {
  .ps-widget[ps-sku],
  .ps-widget[data-ps-sku],
  .ps-widget[ps-sku]:hover,
  .ps-widget[data-ps-sku]:hover {
    border-radius: 35px;
    border: 2px solid $color-1;
    box-sizing: border-box;
    color: $color-1;
    font-family: $font-family-bold;
    font-size: $font-size-button;
    line-height: initial;
    padding: 12px 15px !important;
    width: 124px;
    > span.ps-button-label {
      display: inline-block !important;
    }
  }
  .ps-widget[ps-sku]:hover,
  .ps-widget[data-ps-sku]:hover {
    background-color: $color-1;
    color: $white;
  }
  .ps-widget[ps-sku].ps-disabled {
    padding: 0 !important;
    width: 200px;
    span.ps-button-label {
      line-height: 40px;
      color: $white;
      background-color: $color-1;
    }
  }
  &.template-product-landing,
  &.template-product-listing {
    .ps-widget[ps-sku],
    .ps-widget[data-ps-sku],
    .ps-widget[ps-sku]:hover,
    .ps-widget[data-ps-sku]:hover {
      margin: 0 auto !important;
      border: none;
      position: relative;
      background: none;
      color: $color-1;
      padding: 12px 20px !important;
      &.ps-disabled {
        padding: 0 !important;
        background: $grey-1;
        @media (min-width: $breakpoint-md-min) {
          margin-top: -35px !important;
          top: 35px;
        }
        &::after {
          display: none;
        }
      }
      &::after {
        position: absolute;
        content: '';
        right: 0;
        border: solid $color-1;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
        border-width: 0 3px 3px 0;
        display: inline-block;
        margin-left: 2px;
        padding: 3.5px;

        transform: rotate(-45deg);
        top: -1px;
        position: relative;
      }
    }
    .ps-widget[ps-sku]:hover,
    .ps-widget[data-ps-sku]:hover {
      color: $color-2;
      &::after {
        border-color: $color-2;
      }
    }
  }
}
