.btn {
  text-decoration: none;
  font-family: $font-family-bold;
  font-size: $font-size-button;
  &:hover,
  &:focus {
    color: $color-2;
  }
}

.btn-primary {
  border: $button-border-size solid $color-1;
  color: $color-1;
  border-radius: 99px;
  padding: 13px 25px !important;

  &:hover,
  &:focus {
    color: $white !important;
    background-color: $color-1;
  }
}

.btn-primary-dark {
  border: $button-border-size solid $white;
  color: $white;
  border-radius: 99px;
  padding: 13px 25px !important;

  &:hover,
  &:focus {
    color: $color-4 !important;
    background-color: $color-4;
    border-color: $color-4;
  }
}

.btn-secondary {
  color: $color-1;

  &:hover,
  &:focus {
    color: $color-2 !important;
  }
}

.btn-secondary-dark {
  color: $white;

  &:hover,
  &:focus {
    color: $color-4 !important;
  }
}

a.cta-link {
  display: block;
  border: none;
  color: $color-1;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $color-1;
    text-decoration: none;
  }
}
// Price spide button override
body {
  .ps-widget[ps-sku],
  .ps-widget[data-ps-sku],
  .ps-widget[ps-sku]:hover,
  .ps-widget[data-ps-sku]:hover {
    border-radius: 35px;
    border: 2px solid $color-2;
    box-sizing: border-box;
    color: $color-2;

    font-family: $font-family-bold;
    font-size: $font-size-button;

    line-height: initial;
    padding: 12px 15px !important;

    width: 124px;

    > span.ps-button-label {
      display: block !important;
    }
  }
  .ps-widget[ps-sku]:hover,
  .ps-widget[data-ps-sku]:hover {
    background-color: $color-2;
    color: $white;
  }
}
