html {
  font-size: $font-size-regular !important;
}
body {
  p {
    color: $black;
    font-size: $font-size-body;
    line-height: $line-height-body;
    &.small {
      font-size: $font-size-body-small;
      line-height: $line-height-body-small;
    }
    &.large {
      font-size: $font-size-body-large-mobile;
      line-height: $line-height-body-large-mobile;
      @media (min-width: $breakpoint-md-min) {
        font-size: $font-size-body-large;
        line-height: $line-height-body-large;
      }
    }

    a:hover,
    a:visited {
      text-decoration: underline;
    }
    strong {
      font-family: var(--font-family-medium);
      font-weight: normal;
    }
  }

  [class*='hero-banner-'] .image {
    min-height: auto;
  }

  .flex > div > div .component-content {
    height: auto;
  }
  .text-white * {
    color: $white !important;
  }
  sup {
    top: -0.5em;
  }

  // headers
  h4 a,
  .h4 a {
    color: $black;
    font-family: var(--font-family-bold);
    font-size: $font-size-h4-mobile;
    line-height: $line-height-h4-mobile;
    @media (min-width: $breakpoint-md-min) {
      font-size: $font-size-h4;
      line-height: $line-height-h4;
    }
    &:hover {
      color: var(--color-1);
    }
  }
  h5,
  .h5 {
    font-size: $font-size-h5;
    line-height: $line-height-h5;
    a {
      color: $black;
      font-family: var(--font-family-bold);
      font-size: $font-size-h5;
      line-height: $line-height-h5;
      &:hover {
        color: var(--color-1);
      }
    }
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: var(--font-family-bold);
    margin: 0;
    color: $black;
  }
  // header ends

  //correction from default

  a,
  a:visited .a {
    &.skip-main {
      &.outlined {
        top: 0;
        left: 0;
        z-index: 99999;
        width: 100%;
        background: $white;
        text-align: center;
        padding: 8px 0;
        height: auto;
        overflow: auto;
        border: none;
        border-bottom: 2px solid var(--color-3);
        outline: none;
        font-size: $font-size-body;
        color: var(--color-3);
        font-weight: 600;
        &:focus,
        &:active,
        &:visited {
          background: $white;
          color: var(--color-3);
          font-size: $font-size-body;
          height: auto;

          margin: 0;
          overflow: auto;
          padding: 8px 0;
        }
        &:hover {
          color: var(--color-1);
        }
      }
    }
  }

  // cookies starts
  #onetrust-consent-sdk #onetrust-policy-text {
    font-size: $font-size-body !important;
    font-family: var(--font-family-default) !important;
    line-height: $line-height-body !important;
    color: $body-color;
    a {
      color: var(--color-3) !important;
      cursor: pointer;
      font-weight: $font-weight-body;
      &:hover {
        color: var(--color-1) !important;
        text-decoration: underline;
      }
    }
  }
  #ot-sdk-btn.ot-sdk-show-settings {
    background-color: $white !important;
  }
  #onetrust-consent-sdk #onetrust--btn-handler {
    background-color: $white;
    border-radius: 25px;
    border: 2px solid var(--color-1);
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    font-size: $font-size-body;
    font-weight: 500;
    color: var(--color-1);
    width: 150px;
    &:hover {
      background-color: var(--color-1);
      border-color: var(--color-1);
      opacity: 1;
      color: $white;
    }
  }
  // cookies ends
  .container-fluid {
    max-width: 2800px;
  }
}
