html {
  font-size: $font-size-regular !important;
}
body {
  p {
    color: $black;
    font-size: $font-size-body;
    line-height: $line-height-body;
    &.small {
      font-size: $font-size-body-small;
      line-height: $line-height-body-small;
    }
    &.large {
      font-size: $font-size-body-large-mobile;
      line-height: $line-height-body-large-mobile;
      @media (min-width: $breakpoint-md-min) {
        font-size: $font-size-body-large;
        line-height: $line-height-body-large;
      }
    }

    a:hover,
    a:visited {
      text-decoration: underline;
    }
    strong {
      font-family: $font-family-medium;
      font-weight: normal;
    }
  }

  [class*='hero-banner-'] .image {
    min-height: auto;
  }

  .flex > div > div .component-content {
    height: auto;
  }
  .text-white * {
    color: $white !important;
  }
  sup {
    top: -0.5em;
  }

  // headers
  h4 a,
  .h4 a {
    color: $black;
    font-family: $font-family-bold;
    font-size: $font-size-h4-mobile;
    line-height: $line-height-h4-mobile;
    @media (min-width: $breakpoint-md-min) {
      font-size: $font-size-h4;
      line-height: $line-height-h4;
    }
    &:hover {
      color: $color-1;
    }
  }
  h5,
  .h5 {
    font-size: $font-size-h5;
    line-height: $line-height-h5;
    a {
      color: $black;
      font-family: $font-family-bold;
      font-size: $font-size-h5;
      line-height: $line-height-h5;
      &:hover {
        color: $color-1;
      }
    }
  }

  h2 span {
    color: $color-9;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-bold;
    margin: 0;
    color: $black;

    /*&.title-h1-style {
      font-size: $font-size-h1-mobile;
      line-height: $line-height-36;
      @media (min-width: $breakpoint-md-min) {
        font-size: $font-size-h1;
        line-height: $line-height-1;
      }
    }
    &.title-h1-style2 {
      font-size: $font-size-h3;
      line-height: $line-height-1;
      @media (min-width: $breakpoint-md-min) {
        font-size: $font-size-h1-alt;
        line-height: $line-height-1;
      }
    }
    &.title-h2-style {
      font-size: $font-size-h2-mobile;
      line-height: $line-height-34;
      @media (min-width: $breakpoint-md-min) {
        font-size: $font-size-h2;
        line-height: $line-height-36;
      }
      &.lineheight-low {
        font-size: $font-size-h3-mobile;
        line-height: $line-height-24;
        @media (min-width: $breakpoint-md-min) {
          font-size: $font-size-h3-mobile;
          line-height: $line-height-22;
        }
        span {
          &.h2-block {
            display: block;
          }
        }
      }
    }
    &.title-h3-style {
      font-size: $font-size-h3-mobile;
      line-height: $line-height-22;
      @media (min-width: $breakpoint-md-min) {
        font-size: $font-size-h3;
        line-height: $line-height-22;
      }
    }
    &.title-h4-style {
      font-size: $font-size-h4-mobile;
      line-height: $line-height-24;
      @media (min-width: $breakpoint-md-min) {
        font-size: $font-size-h4;
        line-height: $line-height-24;
      }
    }
    &.title-h5-style {
      font-size: $font-size-h5-mobile;
      line-height: $line-height-22;
      @media (min-width: $breakpoint-md-min) {
        font-size: $font-size-h5;
        line-height: $line-height-22;
      }
    }*/
  }
  // header ends

  //correction from default

  a,
  a:visited .a {
    &.skip-main {
      &.outlined {
        top: 0;
        left: 0;
        z-index: 99999;
        width: 100%;
        background: $white;
        text-align: center;
        padding: 8px 0;
        height: auto;
        overflow: auto;
        border: none;
        border-bottom: 2px solid $color-3;
        outline: none;
        font-size: $font-size-body;
        color: $color-3;
        font-weight: 600;
        &:focus,
        &:active,
        &:visited {
          background: $white;
          color: $color-3;
          font-size: $font-size-body;
          height: auto;

          margin: 0;
          overflow: auto;
          padding: 8px 0;
        }
        &:hover {
          color: $color-1;
        }
      }
    }
  }

  // cookies starts
  #onetrust-consent-sdk #onetrust-policy-text {
    font-size: $font-size-body !important;
    font-family: $font-family-default !important;
    line-height: $line-height-body !important;
    color: $body-color;
    a {
      color: $color-3 !important;
      cursor: pointer;
      font-weight: $font-weight-body;
      &:hover {
        color: $color-1 !important;
        text-decoration: underline;
      }
    }
  }
  #ot-sdk-btn.ot-sdk-show-settings {
    background-color: $white !important;
  }
  #onetrust-consent-sdk #onetrust--btn-handler {
    background-color: $white;
    border-radius: 25px;
    border: 2px solid $color-1;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    font-size: $font-size-body;
    font-weight: 500;
    color: $color-1;
    width: 150px;
    &:hover {
      background-color: $color-1;
      border-color: $color-1;
      opacity: 1;
      color: $white;
    }
  }
  // cookies ends
  .container-fluid {
    max-width: 2800px;
  }
  .reference-our-stories-cards {
    a {
      line-height: 0;
    }
  }
}
