:root {
  --font-family-medium: 'GalanoGrotesqueMedium', verdana, sans-serif;
  --font-family-bold: 'GalanoGrotesqueBold', verdana, sans-serif;
  --font-family-alt: 'Roboto', verdana, sans-serif;
  --font-family-default: 'GalanoGrotesqueRegular', verdana, sans-serif;
}
@font-face {
  font-family: 'GalanoGrotesqueRegular';
  src: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueRegular/GalanoGrotesque-Regular.eot');
  src: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueRegular/GalanoGrotesque-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueRegular/GalanoGrotesque-Regular.woff2')
      format('woff2'),
    url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueRegular/GalanoGrotesque-Regular.woff')
      format('woff'),
    url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueRegular/GalanoGrotesque-Regular.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GalanoGrotesqueMedium';
  src: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueMedium/GalanoGrotesque-Medium.eot');
  src: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueMedium/GalanoGrotesque-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueMedium/GalanoGrotesque-Medium.woff2')
      format('woff2'),
    url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueMedium/GalanoGrotesque-Medium.woff')
      format('woff'),
    url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueMedium/GalanoGrotesque-Medium.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GalanoGrotesqueBold';
  src: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueBold/GalanoGrotesque-Bold.eot');
  src: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueBold/GalanoGrotesque-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueBold/GalanoGrotesque-Bold.woff2')
      format('woff2'),
    url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueBold/GalanoGrotesque-Bold.woff')
      format('woff'),
    url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/GalanoGrotesqueBold/GalanoGrotesque-Bold.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/Roboto-Regular.woff2');
  src: url('/content/dam/cf-consumer-healthcare/bp-robitussin-v2/en_US/src/fonts/Roboto-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
