.stories-carousel {
  background-color: $color-1;
  .flex.cols-d-2.cols-m-1 > div > div {
    align-items: center;
  }
  .lSSlideOuter .lSPager.lSpg {
    li {
      padding: 0 5px;
      a {
        background-color: transparent;
        width: 14px;
        height: 14px;
        border-radius: 50rem;
        box-sizing: content-box;
        border: 2px solid $white;
        overflow: visible;
      }
      &.active {
        a {
          background-color: $white;
        }
      }
    }
  }
  [class*='hero-banner-'] {
    .image {
      min-height: auto;
      img {
        max-width: 60px !important;
      }
      &.caroimage {
        img {
          max-width: 300px !important;
          @media (min-width: $breakpoint-xm-min) {
            max-width: 400px !important;
          }
          @media (min-width: $breakpoint-lg-min) {
            max-width: 450px !important;
          }
        }
      }
    }
  }
  .carousel-copy {
    font-size: 24px;
    line-height: 1.3;
  }
  .carousel-sub-copy {
    font-size: $font-size-h5;
    line-height: 1.3;
  }

  .lSAction > a {
    display: none;
    @media (min-width: $breakpoint-xm-min) {
      display: block;
    }

    &:hover {
      opacity: 0.5;
    }
    background-color: $color-3;
    background-image: none;
    width: 60px;
    height: 60px;
    opacity: 1;
    &.lSPrev,
    &.lSNext {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        border: solid $white;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);

        width: 9px;
        height: 9px;
      }
    }
    &.lSPrev {
      left: 0;
      &::before {
        transform: rotate(135deg);
      }
    }
    &.lSNext {
      right: 0;
    }
  }
}
