#content {
  .accordion-slide {
    background-color: var(--color-14);
    .accordion-head {
      h3 {
        a {
          line-height: 1.5;
          font-family: var(--font-family-bold);
          padding: 0 30px 0 20px;
          display: block;
        }
      }
    }
    .accordion-content {
      > div {
        padding: 0 30px 0 20px;
        p,
        li {
          a {
            text-decoration: underline;
          }
        }
      }
    }
    &.is-active {
      .accordion-content-wrapper {
        max-height: 100%;
      }
    }
  }
  .filteraccord {
    $accordion-plus-icon: get-icon('plus-icon', $white);
    $accordion-minus-icon: get-icon('minus-icon', $white);
    position: relative;
    padding-right: 30%;
    font-size: 18px;
    line-height: 1.55;
    @media (min-width: $breakpoint-sm-min) {
      padding-right: 0;
      padding-top: 6px;
    }
    @media (min-width: $breakpoint-md-min) {
      padding-top: 0;
      font-size: 28px;
      line-height: 1.225;
    }
    &::after {
      background-image: $accordion-plus-icon;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 10px;
      top: 0;
      content: '';
      @media (min-width: $breakpoint-md-min) {
        display: none;
      }
    }
    &.active {
      font-size: 24px;
      line-height: 1.75;
      @media (min-width: $breakpoint-md-min) {
        font-size: 28px;
        line-height: 2.215;
      }
      &::after {
        background-image: $accordion-minus-icon;
      }
    }
  }
}
