body {
  #ciam-pch-unsubscribe {
    > form
      > .gigya-layout-row
      > .gigya-layout-row
      .gigya-composite-control-label {
      text-align: center !important;
      margin: 1rem 0 !important;
      &:nth-of-type(1) {
        text-align: left !important;
        margin: 0 !important;
      }
    }
    .gigya-composite-control-submit {
      margin-top: 1rem !important;
    }
  }
  .gigya-screen {
    * {
      font-family: $font-family-default !important;
    }
    .gigya-required-display {
      color: $color-6;
    }
    .gigya-label-text {
      display: inline !important;
    }
    .gigya-composite-control.gigya-composite-control-submit {
      text-align: center !important;
      padding: 0 !important;
    }
    .gigya-composite-control {
      input {
        &.gigya-error {
          width: auto !important;
          height: auto !important;
          min-height: auto !important;
        }
      }
      &.gigya-composite-control-label {
        margin-bottom: 2rem !important;
        line-height: 23px;
        padding-bottom: 0 !important;
      }
      &.gigya-composite-control-textbox {
        margin-bottom: 2rem !important;
        padding-bottom: 0 !important;
        .gigya-input-text {
          margin-bottom: 0 !important;
          height: 55px !important;
        }
        .gigya-error-msg-active {
          padding-top: 8px !important;
        }
      }
    }
    input[type='submit'] {
      font-family: $font-family-bold !important;
      border-radius: 99px !important;
      margin: 0 auto !important;
    }

    &.portrait {
      max-width: 550px !important;
      @media (min-width: $breakpoint-md-max) {
        padding: 40px !important;
        border: 1px solid $grey-1;

        margin: 0 auto;
      }
    }

    form {
      .gigya-composite-control {
        a {
          color: var(--color-1) !important ;
          &:hover {
            color: var(--color-1);
            background-color: $white;
          }
        }
      }
    }
  }
}
