.breadcrumbs {
  margin: 0 auto !important;
  background-color: var(--color-14);
  li {
    flex: initial !important;
    a {
      color: var(--color-11);
    }
    // current page breadcrumb
    &.is-current,
    &.is-current a {
      color: $black;
      font-size: $font-size-body-small;
      line-height: 1.125;
    }
    &:not(:nth-last-of-type(1)) {
      min-width: auto;
    }
    &:nth-of-type(1) a {
      &.outlined {
        margin-left: 3px;
      }
    }
    a {
      white-space: normal;
    }
  }
}
