.breadcrumbs {
  margin: 0 auto !important;
  background-color: $grey-4;
  li {
    flex: initial !important;

    // current page breadcrumb
    &.is-current,
    &.is-current a {
      color: $black;
      font-size: $font-size-body-small;
      line-height: $line-height-18;
    }
    &:not(:nth-last-of-type(1)) {
      min-width: auto;
    }
    a {
      white-space: normal;
    }
  }
}
