.article-filter {
  .anchor-box {
    p {
      a {
        color: $black;
        font-size: 20px;
        line-height: 24px;
        text-decoration: none;
        &:hover {
          font-size: 20px;
          line-height: 24px;
          color: $color-1;
          text-decoration: underline;
        }
      }
    }
  }
}

.reference-cough-and-cold-center-filter-div {
  .ovr-gr-box {
    background-color: transparent;
    @media (min-width: $breakpoint-md-min) {
      background-color: $black;
      display: block;
      height: 180px;
      .light-green-bg {
        height: 300px;
      }
    }
  }
  .class-filter[data-type='titles'] .filter-list-js {
    display: block;
    .filter-item-js {
      display: block;
      color: $color-1;
      font-size: 18px;
      line-height: 24px;
      font-family: $font-family-bold;
      width: 100%;
      max-width: 100%;
      margin: 1rem 0 0;
      @media (min-width: $breakpoint-md-min) {
        display: inline-block;
        width: 33%;
        max-width: 33%;
        margin: 1rem 0 0;
      }
      &:hover {
        color: $black;
      }
      &.active-js {
        color: $black;
        &::after {
          opacity: 0;
        }
      }
      &::after {
        background-color: $black;
      }
    }
  }
}
.reference-product-filter-menu {
  .filterbox {
    &::nth-child(1) {
      opacity: 0.5;
    }
  }
}
.reference-product-filter {
  .class-filter[data-type='checkbox'] .filter-list-js {
    display: block;
    .filter-item-js {
      * {
        font-family: $font-family-bold;
        color: $white;
      }
      display: block;
      color: $white;
      font-size: 18px;
      line-height: 24px;
      font-family: $font-family-bold;
      position: relative;
      padding: 3px 0;
      opacity: 0.5;
      cursor: auto;
      &.enable {
        opacity: 1;
        cursor: pointer;
      }
      @media (min-width: $breakpoint-md-min) {
        display: inline-block;
        width: 50%;
      }
      @media (min-width: $breakpoint-md-min) {
        width: 25%;
      }
      &::before {
        border: 2px solid $white;
        width: 24px;
        height: 24px;
        background-color: transparent;
        display: inline-block;
        position: relative;
        top: 7px;
      }
      &::after {
        content: '';
        position: absolute;
        top: 13px;
        left: 8px;
        border-bottom: 3px solid $white;
        width: 8px;
        height: 16px;
        border-right: 3px solid $white;
        transform: rotate(45deg);
        display: none;
      }
      &.active-js {
        &::before {
          border-color: $black;
          background-color: $black;
        }
        &::after {
          display: block;
        }
      }
    }
  }
}
.richText-content {
  ul.filter-radio-as-list {
    padding-top: 15px;
    li {
      font-size: 18px;
      font-family: $font-family-bold;

      cursor: pointer;
      padding-left: 40px;
      position: relative;
      padding-bottom: 15px;
      @media (min-width: $breakpoint-sm-min) {
        display: inline-block;
        width: 25%;
        clear: none;
        float: left;
        &:last-child {
          width: 48%;
        }
      }
      &::before {
        width: 24px;
        height: 24px;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid $white;
        border-radius: 50%;
        box-sizing: border-box;
      }
      &.active {
        &::before {
          border-color: $black;
        }
        &::after {
          border-radius: 50%;
          position: absolute;
          top: 5px;
          left: 5px;
          background-color: $black;
          border: 1px solid $black;
          width: 14px;
          height: 14px;
          content: '';
          box-sizing: border-box;
        }
      }
    }
  }
}
