.megamenu {
  .cc-dropdown-links {
    @media (min-width: $breakpoint-md-min) {
      width: 35%;
      float: left;
      clear: none;
    }
    .richText .richText-content ul li {
      padding-bottom: 8px;
      padding-left: 0;
      margin-left: -12px;
      text-align: center;
      @media (min-width: $breakpoint-md-min) {
        text-align: left;
      }
      &::before {
        display: none;
      }
    }
  }
  .cc-dropdown-card {
    width: 265px;
    margin: 0 auto !important;
    float: none;
    clear: both;
    @media (min-width: $breakpoint-md-min) {
      float: left;
      clear: none;
      margin-right: 20px !important;
    }
    p:nth-child(2) {
      margin: -5px 0 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-bold;
  }
  .btn-primary,
  .btn-secondary {
    font-family: $font-family-bold;
    color: $color-1;
  }
  .menu-dropdown-product {
    img {
      max-width: 200px !important;
    }
    p {
      margin: 0;
      a {
        font-family: $font-family-bold;
        font-size: $font-size-body-small;
        line-height: $line-height-body-small;
        text-decoration: none;
        max-width: 285px;
        margin: 0 auto;
        display: block;
      }
    }
  }
  &-submenu-items-container {
    &.submenunavcontainer {
      display: block;
    }
    .megamenu-submenu-item {
      &.content-product-finder {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  &-submenu-item {
    @include animate(top center);
    background-color: $megamenu-submenu-background;
    #{$start-direction}: 0;
    opacity: 0;
    height: 100vh;
    @media (min-width: $breakpoint-md-min) {
      padding: 0;
      height: auto;
    }
    pointer-events: all;
    position: absolute;
    #{$end-direction}: 0;
    top: 0;
    transform: scaleY(0);
    width: 100%;
    z-index: 99;
    .content {
      background-color: $megamenu-submenu-background;
      @media (min-width: $breakpoint-md-min) {
        background-color: transparent;
      }
    }
    &.content-product-finder {
      .content {
        background-color: $color-1;
      }
    }
    &.activesubmenu {
      opacity: 1;
      transform: scaleY(1);

      @media (min-width: $breakpoint-md-min) {
        opacity: 0;
        transform: scaleY(0);
      }
      &.opened,
      &:focus,
      &:focus-within {
        @media (min-width: $breakpoint-md-min) {
          opacity: 1;
          transform: scaleY(1);
        }
      }
    }
  }

  .searchBox input[type='text'] {
    width: auto;
    border-color: $gray-600;
  }
  .megamenu-top-bar-left,
  .megamenu-top-bar-right {
    > * > .paragraphSystem > * {
      padding: 10px 0;
      @media (min-width: $breakpoint-md-min) {
        padding: 0;
      }
    }
  }
  .country-selected {
    padding: 0;
    border: none;
  }
  .language-selector {
    position: relative;
    bottom: auto;
    left: auto;
  }
  &-logo {
    &::after {
      background-color: $color-1;
    }
    > * {
      /*MAIN LOGO CONTAINER*/
      a {
        max-width: $megamen-logo-image-mobile-width;
        min-width: $megamen-logo-image-mobile-width;
        width: $megamen-logo-image-mobile-width;
        @media (min-width: $breakpoint-md-min) {
          max-width: $megamen-logo-image-desktop-width;
          min-width: $megamen-logo-image-desktop-width;
          width: $megamen-logo-image-desktop-width;
        }
      }
    }
  }

  .country-selected,
  a.top-bar-link {
    font-family: $font-family-secondary;
    border: none;
    &:hover {
      text-decoration: underline !important;
    }
  }

  &-language-list {
    &.opened {
      height: 100vh;
      min-height: 100vh;
      max-height: 100vh;
      @media (min-width: $breakpoint-md-min) {
        height: auto;
        min-height: auto;
        max-height: auto;
      }
    }
    * {
      color: $color-6;
    }
    > .inner {
      > * {
        > .component {
          > * {
            > .paragraphSystem {
              a {
                font-size: $font-size-body-small;
                padding: 10px 0;
                &:hover {
                  color: $color-1;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
.megamenu-navigation .megamenu-main-nav {
  @media (min-width: $breakpoint-md-min) {
    background-color: var(--color-1);
  }

  * > .navigation-root.navigation-level1 {
    padding-top: 35px;
    @media (min-width: $breakpoint-md-min) {
      padding-top: 0;
    }
    &.submenunav {
      display: none;
      @media (min-width: $breakpoint-md-min) {
        display: flex;
      }
    }
    .navigation-item {
      text-align: center;
      display: block;
      width: auto;
      @media (min-width: $breakpoint-md-min) {
        display: flex;
      }
      > a {
        @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-lg-max) {
          font-size: $font-size-body-small;
        }
        font-family: $font-family-bold;
        text-transform: uppercase;
        display: inline-block;
        width: auto;
        margin: 0 auto;
        padding: 0;
        @media (min-width: $breakpoint-md-min) {
          padding: 0 5px;
        }
        @media (min-width: $breakpoint-md-min) {
          text-transform: none;
        }
        .navigation-item-decoration {
          display: none;
        }
      }
      .mobilesubnavicon {
        border: solid $color-1;
        border-width: 0 3px 3px 0;
        display: inline-block;
        margin-left: 8px;
        padding: 4px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        font-size: 0;
        position: relative;
        top: -7px;
        cursor: pointer;
        @media (min-width: $breakpoint-md-min) {
          display: none;
        }
      }

      &.is-active,
      &.current-js {
        a {
          @media (min-width: $breakpoint-md-min) {
            background-color: transparent;
            color: $black;
          }
        }
      }
      &:nth-last-child(2) {
        .mobilesubnavicon {
          display: none;
        }
      }
    }
  }
}
.backsubmenu {
  @media (min-width: $breakpoint-md-min) {
    display: none;
  }
}
.reference-backsubmenu {
  @media (min-width: $breakpoint-md-min) {
    display: none;
  }

  .backsubmenu {
    border: solid $black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    margin-left: 8px;
    padding: 6px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    font-size: 0;

    cursor: pointer;

    &.white {
      border-color: $white;
    }
  }
}
body.page-product-finder {
  .megamenu-submenu-items-container {
    .megamenu-submenu-item {
      &.content-product-finder {
        @media (min-width: $breakpoint-md-min) {
          display: none;
        }
        .backsubmenu.white {
          display: none;
        }
      }
    }
  }
}
