.megamenu-navigation .megamenu-main-nav {
  background-color: var(--color-1);
  color: #fff;
  margin: 0;
  width: 100%;
  font-size: 16px;

  .navigation-level1 {
    .navigation-item-title {
      &:after {
        display: none;
      }
    }
  }
}
.megamenu-submenu-item > * > .paragraphSystem {
  flex-wrap: wrap;
  line-height: 1.5;
  h2 {
    text-align: left;
    color: #000000;
    font-size: 28px;
    margin-bottom: 40px;
  }
  h3 {
    color: #000000;
    span {
      color: #000000;
      font-weight: 300;
      display: block;
      font-size: 14px;
    }
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
    color: #000000;
    padding: 20px;
  }
}
