/*
** ACCORDION
*/

// SETTINGS
$accordion-full-width-background: false;
$accordion-title-padding: 1rem;
$accordion-content-padding: 1rem;
$accordion-title-padding-desktop: 1rem;
$accordion-content-padding-desktop: 1rem;
$accordion-closed-icon: get-icon('arrow-down', $color-4);
$accordion-closed-icon-hover: get-icon('arrow-down', $color-4);
$accordion-opened-icon: get-icon('arrow-up', $color-4);
$accordion-opened-icon-hover: get-icon('arrow-up', $color-4);
$accordion-icon-size: 0;
$accordion-icon-size-desktop: 0;
$accordion-icon-offset: 1rem;

// COLORS
$accordion-link-color: $color-2;
$accordion-background-color: $color-1;
$accordion-separator-color: $color-1;
$accordion-separator-bottom-offset: 0%;
$accordion-separator-width: calc(
  100% - (#{$accordion-title-padding-desktop} * 2)
);
$accordion-list-color: $color-3;
$accordion-plus-icon-color: $color-1;
$accordion-minus-icon-color: $color-1;

// ITEM TITLE TOP AND BOTTOM SPACING
$accordion-heading-spacing-t-b: $space-5;

// ITEM FONT SIZES
$accordion-link-font-size-m: $font-size-body-mobile;
$accordion-link-font-size-d: $font-size-body;
