/*
** FOOTER
*/

// COLORS
$footer-background-color: $black;
$footer-text-color: $white;
$footer-divider-starter-color: rgba(darken($color-1, 20%), 0.2);
$footer-divider-end-color: rgba($color-1, 0);
$footer-divider-color: transparent;

// FONT SIZES
$footer-links-font-size-m: $font-size-body-mobile;
$footer-links-font-size-d: $font-size-body;

$footer-copyright-font-size-m: $font-size-body-mobile;
$footer-copyright-font-size-d: $font-size-body;

// SOCIAL ICON SIZES
$footer-icon-social-icon-size-m: $default-icon-size;
$footer-icon-social-icon-size-d: $middle-icon-size;
