/*
** FORMS
*/

// GLOBAL INPUT
// default-unit: px
$input-font-family: var(--font-family-default);
$input-font-size-desktop: 16px;
$input-font-size-mobile: 14px;
$input-font-color: $grey-1;
$input-line-height-desktop: 1.125;
$input-line-height-mobile: 1.125;
$input-background-default: $white;
$input-background-active: $white;
$input-background-hover: $white;
$input-background-error: $white;
$input-border-color-default: $grey-1;
$input-border-color-active: $grey-1;
$input-border-color-hover: $grey-1;
$input-border-color-error: $color-8;
$input-border-size: 1px;
$input-padding-x-desktop: 1rem;
$input-padding-y-desktop: 1rem;
$input-padding-x-mobile: 1rem;
$input-padding-y-mobile: 1rem;
$input-plachoder-text-color: $gray-200;
$input-border-radius: 5px;
$input-default-height: 55px;
$input-default-spacing: 1rem;

/*DISABLED*/
$input-disabled-background: $gray-200;
$input-disabled-background-hover: $gray-300;
$input-disabled-font-color: $gray-600;
$input-disabled-font-color-hover: $gray-700;
$input-disabled-border-color: $gray-900;
$input-disabled-border-color-hover: $black;

/*IN CASE THERE IS ICON IN INPUT FIELD*/
$input-icon-size: 20px;
$input-icon-position: left; /*left,right*/

/*TEXTAREA*/
$input-textarea-default-height-mobile: 250px;
$input-textarea-default-height-desktop: 250px;

/*SELECT*/
$input-select-dropdown-icon: get-icon('arrow-select-down', $color-3);
$input-select-dropdown-icon-hover: get-icon('arrow-select-down', $color-2);
$input-select-dropdown-icon-active: get-icon('arrow-select-up', $color-1);
$input-select-dropdown-icon-size: 10px 10px;
$input-select-dropdown-icon-background: $color-2;
$input-select-dropdown-icon-background-hover: $color-4;
$input-select-dropdown-icon-background-active: $color-5;
$input-select-dropdown-button-width: 50px;
$input-select-dropdown-button-left-border: 3px solid $color-1;

/*CHECKBOX | RADIO*/
$input-checkbox-size: 20px;
$input-checkbox-checked-icon: get-icon('check-mark-icon', $color-1);
$input-checkbox-checked-icon-hover: get-icon('check-mark-icon', $color-1);
$input-checkbox-background: $white;
$input-checkbox-background-hover: $color-1;
$input-checkbox-checked-background: $color-1;
$input-checkbox-checked-background-hover: $color-1;

/*BUTTONS*/
$input-button-padding-y-desktop: 13px;
$input-button-padding-x-desktop: 25px;
$input-button-padding-y-mobile: 13px;
$input-button-padding-x-mobile: 25px;
$input-button-font-size-desktop: 16px;
$input-button-font-size-mobile: 14px;
$input-button-line-height-desktop: 1.125;
$input-button-line-height-mobile: 1.125;
$input-button-border-size: 2px;
$input-button-min-width: 180px;
$input-button-max-width: 180px;
$input-button-alignment: left;
$input-button-font-color: $color-1;
$input-button-font-color-hover: $white;
$input-button-font-color-active: $color-1;
$input-button-font-color-disabled: $gray-700;
$input-button-background-color: $white;
$input-button-background-color-hover: $color-1;
$input-button-background-color-active: $white;
$input-button-background-color-disabled: $gray-500;
$input-button-border-color: $color-1;
$input-button-border-color-hover: $color-1;
$input-button-border-color-active: $color-1;
$input-button-border-color-disabled: transparent;

/*LABELS*/
$input-label-font-family: var(--font-family-default);
$input-label-font-color: $grey-1;
$input-label-font-size-desktop: 16px;
$input-label-font-size-mobile: 14px;
$input-label-position: top; /*top,left,right,under*/
$input-label-line-height-desktop: 1.125;
$input-label-line-height-mobile: 1.125;
$input-label-spacing: 5px;
