/*
** ICONS
*/

$default-icon-size: 40px;
$middle-icon-size: 40px;
$large-icon-size: 50px;
$default-icon-color: $color-1;
$default-svg-icon-color: $color-1;
$default-svg-icon-color-alternative: $color-3;
