/*stylelint-disable*/
/*
** MEGAMENU COLORS SETUP
*/

//MOBILE BASE BACKGROUND COLOR (TOP FIXED BAR)
$mobile-base-color: $white;

//MEGAMENU BACKGROUND AND TEXT
$megamenu-background-color: $white;
$megamenu-text-color: $color-6;

//DESKTOP NAVIGATION BAR BACKGROUND AND TEXT
$magamenu-navigation-bar-background: $white;
$magamenu-navigation-bar-spacing: 0;
$megamenu-navigation-bar-text-color: $white;
$megamenu-navigation-bar-text-decoration: none;

//LOGO
$megamenu-logo-top-offset: -50%;
$megamen-logo-image-mobile-width: 122px;
$megamen-logo-image-desktop-width: 178px;

//NAVIGATION LINK COLORS
$navigation-link-color: $color-1;
$navigation-link-color-hover: $color-3;
$navigation-link-color-mobile: $color-1;
$navigation-link-color-hover-mobile: $color-1;
$navigation-link-2nd-level-color: $color-1;
$navigation-link-2nd-level-color-hover: $color-1;

//NAVIGATION BAR LINKS DECORATION
$megamenu-navigation-link-decoration-color: $white;
$megamenu-navigation-link-decoration-height: 0;
$megamenu-navigation-link-decoration-width: 0;
$megamenu-navigation-link-decoration-background-color: transparent;
$megamenu-navigation-link-decoration-background-color-hover: $white;
$megamenu-navigation-link-hover-decoration: false;
$megamenu-navigation-link-active-decoration: true;
$megamenu-navigation-link-hover-background: true;
$megamenu-navigation-link-active-background: false;
$megamenu-navigation-bar-height: 45px;
$megamenu-navigation-bar-link-size-desktop: $font-size-body;
$megamenu-navigation-link-desktop-max-height: 75%;
$megamenu-links-sides-padding: 5px;

// unit (px/rem/em/percentage) needs to be speccified
$megamenu-navigation-link-decoration-offset: 1px;
$megamenu-top-bar-link-color: $color-6;
$megamenu-top-bar-link-color-hover: $color-1;
$megamenu-top-nav-link-hover-decoration: true;

//UTILITY NAVIGATION ITEMS SPACING
$megamenu-utility-items-spacing: 40px;

//NAVIGATION ICONS COLORS
$navigation-search-icon-color: $color-6;
$navigation-search-icon-color-hover: $color-1;
$navigation-search-border-color: $gray-400;
$navigation-search-border-color-mobile: $color-1;
$navigation-exit-icon-color: $color-1;
$navigation-burger-icon-color: $color-1;

// HAMBURGER
$megamenu-hamburger-size: 20px;

//MEGAMENU DROPDOWN BACKGROUND AND TEXT
$megamenu-submenu-background: $grey-3;
$megamenu-submenu-text: $black;
$megamenu-submenu-shadow: inset 0 -10px 10px -10px #666363;

//MEGAMENU COUNTRY LIST BACKGROUND AND TEXT
$megamenu-countrylist-background: $white;
$megamenu-countrylist-text: $color-6;
$megamenu-countrylist-shadow: $megamenu-submenu-shadow;

$country-selected-border-color: $color-6;
$country-selected-border-radius: 0;
$country-selected-padding: 15px 20px;

// LANGUAGE-SELECTOR ARROW COLOR
$megamenu-language-selector-color: $gray-600;
$megamenu-language-list-top-position: 92px;

// LANGUAGE LIST CLOSE
$megamenu-language-list-close-size: 50px;
$megamenu-language-list-close-color: $white;
$megamenu-language-list-close-weight: 700;
$megamenu-language-list-close-font-size: 30px;
$megamenu-language-list-close-padding: 10px;
$megamenu-language-list-close-margin: 0;
$megamenu-language-list-close-background: $color-1;

//MEGAMENU SIMPLE NAVIGATION DROPDOWN BACKGROUND AND TEXT
$simple-navigation-submenu-background: $color-1;
$simple-navigation-submenu-text: $color-1;

//MEGAMENU SEARCH BOX
$search-box-border-color: $color-3;
$search-result-description-color: $gray-700;
$search-box-padding: 0.5rem 1rem 0.5rem 2rem;
$search-box-padding-mobile: 0.5rem 2rem;
$search-placeholder-icon-position: center left 5px;
$search-placeholder-icon-color: $color-1;
$search-box-font-size: $font-size-body;
$search-box-font-size-mobile: $font-size-body;
$search-box-icon-size: $search-box-font-size;

// NAVIGATION LEVEL 2 BORDER
$navigation-border-level-2: none;
//NAVIGATION BORDERS
$navigation-border-bottom-mobile: $white;
/*stylelint-enable*/
