/*
** TYPOGRAPHY
*/

/*
** SELECTION COLOR STYLES
*/
$selection-background-color: $color-1;
$selection-text-color: $white;

/*
** DEFAULT DEVICE FONT STACK
*/
$font-stack: $font-family-default;
$font-stack-tertiary: $font-family-default;

// FONT FAMILY
$font-family-primary: $font-stack;
$font-family-tertiary: $font-stack-tertiary;

//ADJUST FONT AND HEADING SIZES FOR THE THEME
// following 2 lines serves as a root base for size do not use rem() function with them
$font-size-body: 18px;
$font-size-body-small: 14px;

// for conversion to rem from (px, pt, pc, cm, mm, in) use::before
// rem($value, $rendition:optional 'd|m|null')
$font-size-button: 16px;

$font-size-h1: 60px;
$font-size-h1-mobile: 32px;
$font-size-h2: 323px;
$font-size-h2-mobile: 28px;
$font-size-h3: 28px;
$font-size-h3-mobile: 24px;
$font-size-h4: 20px;
$font-size-h4-mobile: 20px;
$font-size-h5: 18px;
$font-size-h5-mobile: 18px;

//AJUST LINE HEIGHTS FOR THE THEME
$line-height-1: 1;
$line-height-1-2: 1.2;
$line-height-1-4: 1.5;
$line-height-1-8: 1.8;
$line-height-2: 2;

//BACKUP FOR ORIGINAL COMPONENTS
$font-size-tiny: rem(11px);
$font-size-subhead: $font-size-h2-mobile;
$font-size-subhead-mobile: $font-size-body-mobile;
$font-size-intro: $font-size-h2-mobile;
$line-height-subhead: rem(26px);
$line-height-subhead-mobile: rem(17px, 'm');
$line-height-intro: rem(30px);
$line-height-dropdown: rem(50px);
$line-height-breadcrumbs: rem(18px);

//FONT HEIGHTS
$font-weight-button: bold;
$font-weight-body: 400;
$font-weight-h1: bold;
$font-weight-h2: bold;
$font-weight-h3: bold;
$font-weight-h4: bold;
$font-weight-h5: bold;
$font-weight-anchors: $font-weight-body;
$font-weight-breadcrumbs: $font-weight-body;
