/*
** TYPOGRAPHY
*/

/*
** SELECTION COLOR STYLES
*/
$selection-background-color: $color-1;
$selection-text-color: $white;

/*
** DEFAULT DEVICE FONT STACK
*/
$font-stack: $font-family-default;
$font-stack-tertiary: $font-family-default;

// FONT FAMILY
$font-family-primary: $font-stack;
$font-family-tertiary: $font-stack-tertiary;

//ADJUST FONT AND HEADING SIZES FOR THE THEME
// following 2 lines serves as a root base for size do not use rem() function with them
$font-size-regular: 16px;
$font-size-body: 18px;
$font-size-body-small: 14px;
$font-size-body-large: 24px;
$font-size-body-large-mobile: 20px;

// for conversion to rem from (px, pt, pc, cm, mm, in) use::before
// rem($value, $rendition:optional 'd|m|null')
$font-size-button: 16px;

$font-size-h1: 38px;
$font-size-h1-mobile: 28px;
$font-size-h2: 32px;
$font-size-h2-mobile: 28px;
$font-size-h3: 28px;
$font-size-h3-mobile: 24px;
$font-size-h4: 20px;
$font-size-h4-mobile: 20px;
$font-size-h5: 18px;

$font-size-70: 70px;
$font-size-48: 48px;

//AJUST LINE HEIGHTS FOR THE THEME
$line-height-1: 1;
$line-height-10: 10px;
$line-height-28: 28px;
$line-height-24: 24px;
$line-height-18: 18px;
$line-height-34: 34px;
$line-height-22: 22px;
$line-height-25: 25px;
$line-height-38: 38px;
$line-height-36: 36px;
$line-height-32: 32px;
$line-height-65: 65px;

$line-height-body: 28px;
$line-height-body-small: 20px;

$line-height-body-large: 28px;
$line-height-body-large-mobile: 24px;

$line-height-h1: 38px;
$line-height-h1-mobile: 34px;
$line-height-h2: 36px;
$line-height-h2-mobile: 34px;
$line-height-h3: 34px;
$line-height-h3-mobile: 28px;
$line-height-h4: 24px;
$line-height-h4-mobile: 24px;
$line-height-h5: 22px;

//BACKUP FOR ORIGINAL COMPONENTS
$font-size-tiny: rem(11px);
$font-size-subhead: $font-size-h2-mobile;
$font-size-subhead-mobile: $font-size-body-mobile;
$font-size-intro: $font-size-h2-mobile;
$line-height-subhead: rem(26px);
$line-height-subhead-mobile: rem(17px, 'm');
$line-height-intro: rem(30px);
$line-height-dropdown: rem(50px);
$line-height-breadcrumbs: rem(18px);

//FONT HEIGHTS
$font-weight-button: bold;
$font-weight-body: 400;
$font-weight-h1: bold;
$font-weight-h2: bold;
$font-weight-h3: bold;
$font-weight-h4: bold;
$font-weight-h5: bold;
$font-weight-medium: 600;
$font-weight-anchors: $font-weight-body;
$font-weight-breadcrumbs: $font-weight-body;
