/*
** TYPOGRAPHY
*/

/*
** SELECTION COLOR STYLES
*/
$selection-background-color: $color-1;
$selection-text-color: $white;

/*
** DEFAULT DEVICE FONT STACK
*/
$font-stack: $font-family-default;
$font-stack-tertiary: $font-family-default;

// FONT FAMILY
$font-family-primary: $font-stack;
$font-family-tertiary: $font-stack-tertiary;

//ADJUST FONT AND HEADING SIZES FOR THE THEME
// following 2 lines serves as a root base for size do not use rem() function with them
$font-size-regular: 1rem;
$font-size-body: 16px;
$font-size-body-small: 0.875rem;

// for conversion to rem from (px, pt, pc, cm, mm, in) use::before
// rem($value, $rendition:optional 'd|m|null')
$font-size-button: 16px;

$font-size-h1: 3.75rem;
$font-size-h1-mobile: 2rem;
$font-size-h2: 2rem;
$font-size-h2-mobile: 1.75rem;
$font-size-h3: 1.75rem;
$font-size-h3-mobile: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h4-mobile: 1.25rem;
$font-size-h5: 1.125rem;
$font-size-h5-mobile: 1.125rem;

//AJUST LINE HEIGHTS FOR THE THEME
$line-height-1: 1;
$line-height-36: 1.125;
$line-height-34: 1.22;
$line-height-28: 1.2;
$line-height-24: 1.2;
$line-height-22: 1.25;

//BACKUP FOR ORIGINAL COMPONENTS
$font-size-tiny: rem(11px);
$font-size-subhead: $font-size-h2-mobile;
$font-size-subhead-mobile: $font-size-body-mobile;
$font-size-intro: $font-size-h2-mobile;
$line-height-subhead: rem(26px);
$line-height-subhead-mobile: rem(17px, 'm');
$line-height-intro: rem(30px);
$line-height-dropdown: rem(50px);
$line-height-breadcrumbs: rem(18px);

//FONT HEIGHTS
$font-weight-button: bold;
$font-weight-body: 400;
$font-weight-h1: bold;
$font-weight-h2: bold;
$font-weight-h3: bold;
$font-weight-h4: bold;
$font-weight-h5: bold;
$font-weight-medium: 600;
$font-weight-anchors: $font-weight-body;
$font-weight-breadcrumbs: $font-weight-body;
