// basic transition mixin
// default transition duration can be changed in theme_variables/_other-utility-and-misc
@mixin animate($origin: top left, $delay: 0s, $duration: 0, $important: false) {
  @if $important == true {
    transform-origin: $origin !important;
    transition: all
      if($duration == 0, $transition-duration, $duration)
      ease !important;
    transition-delay: $delay !important;
  } @else {
    transform-origin: $origin;
    transition: all if($duration == 0, $transition-duration, $duration) ease;
    transition-delay: $delay;
  }
}
