#footer {
  background-color: $grey-2;
  .list-footer {
    ul {
      margin-top: 16px;
      margin-bottom: 25px;
      @media (min-width: $breakpoint-md-min) {
        margin-bottom: 16px;
      }
      display: block;
      @media (min-width: $breakpoint-md-min) {
        margin-bottom: 0;
        justify-content: space-between;
        display: flex;
      }
      li {
        text-align: center;
        margin-bottom: 0 !important;
        @media (min-width: $breakpoint-md-min) {
          text-align: left;
          margin-bottom: 23px !important;
        }
        &::before {
          display: none;
        }

        padding-left: 0;
        &:nth-child(1),
        &:nth-child(2) {
          @media (min-width: $breakpoint-md-min) {
            margin-left: 48px;
            margin-right: 0;
          }
        }
        &:nth-child(3),
        &:nth-child(4) {
          @media (min-width: $breakpoint-md-min) {
            margin-right: 48px;
          }
        }
        a {
          font-size: 16px;
          line-height: 24px;
          &:hover {
            color: $color-5;
          }
        }
      }
    }
  }
  .copyright {
    .richText-content {
      display: block;
      border-top: 1px solid $color-1;
      padding-bottom: 8px;
      p {
        &:first-of-type {
          padding: 4px 0;
          margin-top: 0;
        }
        font-size: 13px;
        line-height: 19.4px;
        margin: 16px 0 0;
        max-width: 100%;
        span {
          &.phone {
            display: block;
            font-weight: 300;
          }
          &.no {
            font-weight: 300;
          }
        }
      }
    }
  }
}
