#footer {
  background-color: $black;
  .list-footer {
    ul {
      margin-top: 20px;
      margin-bottom: 25px;
      @media (min-width: $breakpoint-md-min) {
        margin-bottom: 16px;
      }
      display: block;
      @media (min-width: $breakpoint-md-min) {
        margin-bottom: 0;
        justify-content: space-between;
        display: flex;
      }
      li {
        padding: 10px 0;
        text-align: center;
        margin-bottom: 0 !important;
        @media (min-width: $breakpoint-md-min) {
          text-align: left;
          margin-bottom: 33px !important;
          padding: 0;
        }
        &::before {
          display: none;
        }

        padding-left: 0;

        a {
          font-size: 16px;
          font-weight: bold;
          line-height: 24px;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
  .follow-us-wrapper {
    p {
      font-weight: 400;
      text-decoration: underline;
      margin: 32px 0;
      font-weight: $font-weight-body;
      font-size: 16px;
      span {
        display: block;
        @media (min-width: $breakpoint-md-min) {
          display: inline;
        }
      }
    }
  }

  .social-pages {
    .icons-with-link {
      margin: 0 13px;
      .default-icon {
        > a {
          background-color: transparent;
          img {
            width: auto;
            height: auto;
          }
        }
      }
    }
  }

  .divider-footer {
    .component-content {
      margin: 0;
    }
  }

  .copyright {
    .richText-content {
      display: block;
      border-top: 1px solid $white;
      padding: 32px 0 44px;
      p {
        &:first-of-type {
          padding: 4px 0;
          margin-top: 0;
        }
        font-size: 13px;
        line-height: 19.4px;
        margin: 16px 0 0;
        max-width: 100%;
      }
    }
  }
}
