// body is used for overriding default component styles with same selecotr
@if $include-list {
  .richText {
    .richText-content {
      ul li,
      ol li {
        color: $black;
      }
      ul {
        &.foot-notes {
          list-style-type: none;
          margin: 0 0 1rem 0;

          > li {
            list-style-type: none;
            color: var(--color-11);
            margin: 0 0 0.7rem 0;
            padding: 0;
            font-size: $font-size-body-small;
            line-height: $line-height-body-small;
            &::before {
              display: none;
            }

            &.list-footnote-margin {
              margin: 1rem 0;
            }

            &.bottom-footnote-devider {
              border: 1px solid var(--color-11);
              padding: 1rem;
            }

            a,
            a:hover,
            a:visited {
              font-size: $font-size-body-small;
              text-decoration: underline;
            }
          }
        }
      }
      ol {
        &.reference-notes {
          margin: 1rem 0 1rem 0;

          > li {
            color: $black;
            margin: 0 0 0.7rem 0;
            padding: 0 0 0 27px;
            font-size: $font-size-h5;
            line-height: 1.5;

            span {
              display: block;
            }
            &::before {
              line-height: 0;
              top: 14px;
            }

            a,
            a:hover,
            a:visited {
              font-size: $font-size-h5;
              text-decoration: underline;
              word-break: break-word;
            }
          }
        }
      }

      ul,
      ol {
        &.article-para-list {
          margin: 1rem 0;
          font-size: $font-size-h5;
          sup {
            top: -0.7em !important;
          }

          > li {
            color: $black;
            margin: 0 0 0.5rem 0;
            padding: 0 0 0 1rem;
            font-size: $font-size-h5;
            line-height: 1.75;

            sup {
              top: -0.7em !important;
            }
            &::before {
              line-height: 1;
              top: 1px;
            }
            a,
            a:hover,
            a:visited {
              font-size: $font-size-h5;
              text-decoration: underline;
              color: var(--color-1);
            }
          }
        }
      }
    }
  }
}

.accordion-slide .accordion-content > div li a {
  text-decoration: underline !important;
  &:hover {
    text-decoration: underline !important;
  }
}
