// body is used for overriding default component styles with same selecotr
@if $include-list {
  .richText {
    .richText-content {
      ul li,
      ol li {
        color: $black;
      }
      ul {
        &.foot-notes {
          list-style-type: none;
          margin: 0 0 1rem 0;

          > li {
            list-style-type: none;
            color: $grey-1;
            margin: 0 0 0.7rem 0;
            padding: 0;
            font-size: $font-size-h5;
            line-height: $line-height-24;
            &::before {
              display: none;
            }

            &.list-footnote-margin {
              margin: 1rem 0;
            }

            &.bottom-footnote-devider {
              border: 1px solid #606060;
              padding: 1rem;
            }

            a,
            a:hover,
            a:visited {
              font-size: $font-size-h5;
              text-decoration: underline;
            }
          }
        }
      }
      ol {
        &.reference-notes {
          margin: 1rem 0 1rem 0;

          > li {
            color: $black;
            margin: 0 0 0.7rem 0;
            padding: 0 0 0 21px;
            font-size: $font-size-h5;
            line-height: $line-height-24;

            span {
              display: block;
            }

            a,
            a:hover,
            a:visited {
              font-size: $font-size-h5;
              text-decoration: underline;
              word-break: break-word;
            }
            &::before {
              /*line-height: 1.375;*/
            }
          }
        }
      }

      ul,
      ol {
        &.article-para-list {
          margin: 1.5rem 0 2rem 0;
          font-size: $font-size-h5;
          sup {
            top: -0.7em !important;
          }

          > li {
            color: $black;
            margin: 0 0 0.7rem 0;
            padding: 0 0 0 1rem;
            font-size: $font-size-h5;
            line-height: $line-height-28;

            sup {
              top: -0.7em !important;
            }
            &::before {
              top: 3px;
              @media (min-width: $breakpoint-md-min) {
                top: 5px;
              }
            }
            a,
            a:hover,
            a:visited {
              font-size: $font-size-h5;
              text-decoration: underline;
              color: $color-1;
            }
          }
        }
      }
    }
  }
}

.accordion-slide .accordion-content > div li a {
  text-decoration: underline !important;
  &:hover {
    text-decoration: underline !important;
  }
}
